html {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;;
}
body {
    background-color: white;
}

/* navbar */
.nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    transition: all .5s;
}
.tinggi-nav {
    height: 60px;
}
.logo {
    width: 50px;
    border-radius: 50px;
    background-color: aqua;
}
.nav h3 {
    font-family: "Bungee Spice", sans-serif;
}
.daftar {
    background-color: aqua;
    border-radius: 50px;
    width: 80px;
}
.navbar a {
    color: white;
}

/* section */
.hero {
    background-image: url(../img/pc.jpg);
    background-size: cover;
    height: 600px;
    position: relative;
    display: flex;
    align-items: center;
}
.hero::after {
    background: linear-gradient(0deg, rgba(1,1,1,1) );
}
.content {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgb(202, 229, 210) 8%, rgba(34,193,195,.7) 20%);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.wrapper .carou {
    color: white;
    height: 200px;
}
form div {
    display: flex;
    justify-content: center;
}

/* fitur */
.fitur {
    padding-top: 5.5rem;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.tag-fitur {
    text-align: center;
    width: 50%;
}
.fitur .child {
    margin-top: 50px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-around;
    margin-right: 2px;
    margin-left: 40px;
}
.icon-100 { 
    font-size: 100px; 
    margin-top: 10px;
}

/* customor */
.customor {
    height: 100vh;
    margin-top: 8rem;
    padding-top: 5.5rem;
    text-align: center;
}
.customor .container .thumb1 img {
    height: 200px;
    object-fit: cover;
    object-position: center 30%;
}
.customor .container .thumb2 img {
    height: 200px;
    object-fit: cover;
}

/* footer */
.footer {
    background-color: aqua;
    height: 100px;
}
.footer .icon-footer a {
    font-size: 30px;
    color: white;
    margin-left: 10px;
}
.footer .icon-footer {
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
}
